img{
    padding-top: 100px;
    
    display: block;
    margin: auto;


}

.intro h1{
    font-family: Oswald;
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

.intro p{
    font-size: 18px;

    margin-left: 50px;

}

h2{
    color: black;
}

.html{
    margin-bottom: 30px;
    width: 50%;
    
}

.html2{
    margin-bottom: 30px;
    width: 50%;
}

.html3{
    margin-bottom: 30px;
    width: 50%;
}

.html4{
    margin-bottom: 30px;
    width: 50%;
}

.html5{
    margin-bottom: 30px;
    width: 50%;
}

ul{
    list-style-type: none;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(166, 158, 158);
    margin-right: 60px;
    }


    .technology h1{
        font-size: 30px;
        color: black;
    }

    .technology{
        margin-left: 50px;

        margin-top: 50px;
    }

    .footer{
        background-color: black;
        height: 30vh;
        width: 100%;
        margin-top: 110px;
    }
    
    .logo img{
        
        width: 10%;
        height: 100%;
        cursor: pointer;
    
    }
    h5{
        color: grey;
        text-align: center;
    }
    body{
        margin: 0%;
    }
    
    button{
        cursor: pointer;
    }

    .navigation ul li a{
        color: rgb(166, 158, 158);
        text-decoration: none;
        
    }

    .technology h5{
        color: black;
        font-weight: bolder;
    }
    
